### `import libraries`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import copy, math

from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None,
              'display.max_colwidth', 400)

### `data`

In [8]:
california = fetch_california_housing()
df = pd.DataFrame(data=california.data, columns=california.feature_names)
df['target'] = california.target

In [9]:
X = df.drop('target', axis=1)
y = df['target']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=9)

In [11]:
X_train.head(2)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
15404,4.0776,13.0,6.117264,1.055375,1767.0,2.877850,33.23,-117.24
16396,2.4342,22.0,5.086667,0.996667,790.0,2.633333,38.01,-121.24

In [12]:
X_norm, mu, sigma = zscore_normalize_features(X_train)

In [13]:
X_norm.head(2)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
15404,0.112557,-1.240851,0.297789,-0.098574,0.304909,-0.023229,-1.125446,1.164630
16396,-0.752272,-0.526990,-0.146225,-0.241855,-0.558413,-0.061307,1.107180,-0.829574

### `train model`