In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import joblib

pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Load the models from the saved files
best_gbr_loaded = joblib.load('./model_pkl/final_model.pkl')
best_xgbr_loaded = joblib.load('./model_pkl/xgbr.pkl')
print("Models loaded successfully.")

Models loaded successfully.

In [3]:
df = pd.read_csv('./model_pkl/X_test.csv')
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,501,502,503,504,505,506,507,508,509,510
0,0.44,0.10,0.03,-0.83,0.35,-0.59,-0.73,-0.27,-0.57,0.11,...,-0.06,-0.05,-0.30,-0.04,0.40,-0.04,-0.10,-0.12,0.47,-0.31
1,0.49,0.36,0.03,-0.10,0.35,0.04,-0.73,-0.27,-0.57,0.11,...,-0.06,-0.05,-0.30,-0.04,0.40,-0.04,-0.10,-0.12,0.47,-0.31
2,0.18,0.32,0.03,-0.83,-0.54,-0.59,-0.73,-0.27,0.58,0.11,...,-0.06,-0.05,-0.30,-0.04,0.40,-0.04,-0.10,-0.12,0.47,-0.31

In [4]:
# Make predictions using the loaded models
gbr_preds = best_gbr_loaded.predict(np.array(df))
xgbr_preds = best_xgbr_loaded.predict(np.array(df))

In [5]:
# Create a DataFrame to store the predictions
pred_df = pd.DataFrame({
    'GBR_Predictions': gbr_preds,
    'XGBR_Predictions': xgbr_preds,
})

In [6]:
pred_df.head()

   GBR_Predictions  XGBR_Predictions
0        124313.66         124221.82
1        163975.09         161520.20
2        178025.22         179417.09
3        181992.07         182915.73
4        199907.24         191713.25

In [7]:
pred_df.GBR_Predictions.to_csv('./model_pkl/gbr_y_hat.csv', index=False)
pred_df.XGBR_Predictions.to_csv('./model_pkl/xgbr_y_hat.csv', index=False)